<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title><%=title%></title>
</head>
<body>
   
    

    <%- include('./partials/header.ejs') %>
    <div class="page-bg posts">
        

        <div class="container">
            <% if(posts.length> 0) { %>
        
                <div class="col card-col">
                    
                        <% posts.forEach((i)=> { %>
                            <div class="card">
                                <div class="card-close">
                                    <form action="/post/del" method="POST">
                                        <input type="hidden" value="<%=i.id%>" name="id">
                                        <button  type="submit" class="close btn-close" aria-label="Close" data-target="#exampleModal" >
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </form>
                                   
                                </div>
            
                                
                                <h3 class="card-title"><%=i.title%></h3>
                                <div class="card-body">
                                    <hr>
                                    <p class="card-text text-justify">
                                        <%=i.text%>
                                    </p>
                                   <img class="card-img" src="<%=i.img_url%>" alt="<%=i.text%>"> 
    
                                    <div class="card-footer">
                                       
                                       
                                        
                                        <div class="card-elems">
                                            <div class="rating-area">
                                                <input type="radio" id="star-5" name="rating" value="5">
                                                <label for="star-5" title="Оценка «5»"></label>	
                                                <input type="radio" id="star-4" name="rating" value="4">
                                                <label for="star-4" title="Оценка «4»"></label>    
                                                <input type="radio" id="star-3" name="rating" value="3">
                                                <label for="star-3" title="Оценка «3»"></label>  
                                                <input type="radio" id="star-2" name="rating" value="2">
                                                <label for="star-2" title="Оценка «2»"></label>    
                                                <input type="radio" id="star-1" name="rating" value="1">
                                                <label for="star-1" title="Оценка «1»"></label>
                                            </div>
                                            <div class="card-date">
                                                at
                                                <span><%=Date(i.date).slice(4,15)%></span>
                                                author
                                                <span><%=user%></span>
                                            </div>
                                        </div>
                                        <button class="btn btn-warning">Open post</button>
                                    </div>
                                        
                                    
                                </div>
                            </div>
                        
                           
                            <% }); %>
                    
                </div>
                
                <% } else { %>
                    <h3 class="dont-card">&lt;Don't posts.../&gt;</h3>
                    <% } %>
        </div>
    </div>
   
    <%- include('./partials/footer.ejs') %>


    
</body>
</html>